In [2]:
import pandas as pd

In [3]:
df = pd.read_excel('POP2021_20220711.xls', 'Municípios')
df = df.head(-32)
df.columns = df.iloc[0]
df = df.drop(0)
df.index = range(len(df))
for i in range(len(df)):
    if type(df.iloc[i]['POPULAÇÃO ESTIMADA']) == str:
        pop = int(df.iloc[i]['POPULAÇÃO ESTIMADA'].split('(')[0].replace('.',''))
        df.at[i, 'POPULAÇÃO ESTIMADA'] = pop
top100 = df.sort_values(by=['POPULAÇÃO ESTIMADA'], ascending=False).head(100)

In [4]:
top100

0     UF COD. UF COD. MUNIC NOME DO MUNICÍPIO POPULAÇÃO ESTIMADA
3829  SP      35      50308         São Paulo           12396372
3242  RJ      33      04557    Rio de Janeiro            6775561
5569  DF      53      00108          Brasília            3094325
2162  BA      29      27408          Salvador            2900319
949   CE      23      04400         Fortaleza            2703391
...   ..     ...        ...               ...                ...
3855  SP      35      52809   Taboão da Serra             297528
5316  MT      51      08402     Várzea Grande             290383
3850  SP      35      52403            Sumaré             289875
216   PA      15      04208            Marabá             287664
4791  RS      43      09209          Gravataí             285564

[100 rows x 5 columns]

In [5]:
am = pd.read_excel('Amostra.xlsx')
for i in range(len(am)):
    name = am['Município'][i].split('-')[0].strip()
    am.at[i,'Município'] = name
    
am

              Município
0             São Paulo
1         Florianópolis
2              Curitiba
3               Vitória
4        Belo Horizonte
..                  ...
96   São João de Meriti
97              Caucaia
98   Ribeirão das Neves
99      Itaquaquecetuba
100        Belford Roxo

[101 rows x 1 columns]

In [6]:
def Union(lst1, lst2):
    final_list = list(set(lst1) | set(lst2))
    return final_list

final_sample = Union(am['Município'],top100['NOME DO MUNICÍPIO'])
len(final_sample)

101

In [7]:
for i in am['Município']:
    if i not in list(top100['NOME DO MUNICÍPIO']):
        print(i)

Santa Maria

In [8]:
len(am['Município'])

101

In [9]:
len(top100['NOME DO MUNICÍPIO'])

100

In [12]:
top100.to_csv('100-municipios.csv', index=False)