In [72]:
import pandas as pd

In [73]:
database = pd.DataFrame()

In [74]:
database = pd.DataFrame()

# 1. AMOSTRA
amostra = pd.read_csv('AMOSTRA/100-municipios.csv')
database['Município'] = amostra['NOME DO MUNICÍPIO']
database['UF'] = amostra['UF']

In [75]:
# 8. DETERMINANTE CULTURA
def save_googletrends(term):
    
    global database
    
    indicador = pd.read_csv('DETERMINANTE CULTURA/geoMap-'+term+'.csv').reset_index()
    c_name = 'Pesquisas pelo Termo '+term
    indicador = indicador.rename(columns={'index':'Município', 'Category: All categories': c_name})
    database = database.merge(indicador, how='left',on='Município').fillna(0)
    database[c_name] = database[c_name].astype(int)

# SUBDETERMINANTE INICIATIVA
save_googletrends('Empreendedora')
save_googletrends('Empreendedorismo')
save_googletrends('MEI')

#SUBDETERMINANTE INSTITUIÇÕES
save_googletrends('SEBRAE')
save_googletrends('Franquia')
save_googletrends('Simples Nacional')

database

,Município,UF,Pesquisas pelo Termo Empreendedora,Pesquisas pelo Termo Empreendedorismo,Pesquisas pelo Termo MEI,Pesquisas pelo Termo SEBRAE,Pesquisas pelo Termo Franquia,Pesquisas pelo Termo Simples Nacional
0,São Paulo,SP,0,0,0,0,0,0
1,Rio de Janeiro,RJ,0,0,0,0,0,0
2,Brasília,DF,0,0,0,50,0,0
3,Salvador,BA,0,0,0,0,0,0
4,Fortaleza,CE,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...
95,Taboão da Serra,SP,0,24,0,40,36,0
96,Várzea Grande,MT,0,0,0,0,0,0
97,Sumaré,SP,0,0,0,0,0,0
98,Marabá,PA,0,0,0,0,0,0
99,Gravataí,RS,0,0,0,0,0,0

In [76]:
sum(database['Pesquisas pelo Termo MEI'])

109

In [77]:
database.iloc[np.where(database['Pesquisas pelo Termo Simples Nacional'] != 0)]

,Município,UF,Pesquisas pelo Termo Empreendedora,Pesquisas pelo Termo Empreendedorismo,Pesquisas pelo Termo MEI,Pesquisas pelo Termo SEBRAE,Pesquisas pelo Termo Franquia,Pesquisas pelo Termo Simples Nacional
76,Franca,SP,0,0,0,0,0,61
84,Cascavel,PR,0,0,48,0,0,53
88,Palmas,TO,0,0,0,83,0,52