In [415]:
import pandas as pd
import numpy as np

In [416]:
database = pd.DataFrame()

In [417]:
# 1. AMOSTRA
amostra = pd.read_csv('AMOSTRA/100-municipios.csv')
database['Município'] = amostra['NOME DO MUNICÍPIO']
database['UF'] = amostra['UF']
database = database.set_index(['Município', 'UF'])

In [425]:
# 2.8. DETERMINANTE CULTURA
def save_googletrends(database, term):
    
    name = term.split(' ')[-1].replace('_', ' ')
    term = term.replace('_', ' ')
    c_name = 'Pesquisas '+term
    if c_name not in database.columns:
        indicador = pd.read_csv('DETERMINANTE CULTURA/geoMap-'+name+'.csv').reset_index()
        indicador = indicador.rename(columns={'index':'Município', 'Category: All categories': c_name})
        database = database.merge(indicador, how='left',on='Município').fillna(0)
        database[c_name] = database[c_name].astype(int)
    
    return database

cultura = {}

# ---------------------------------------------------------------------------------------------
# 2.8.1. SUBDETERMINANTE INICIATIVA

subdet = 'Iniciativa'

iniciativa = ['pelo Termo Empreendedora', 'pelo Termo Empreendedorismo', 'pelo Termo MEI']
sub_iniciativa = pd.DataFrame()
sub_iniciativa.index = database.index

for i in iniciativa:
    sub_iniciativa = save_googletrends(sub_iniciativa, i).set_index('Município')
    
sub_iniciativa = missing_data(sub_iniciativa)
cultura[subdet] = sub_iniciativa

# ---------------------------------------------------------------------------------------------
# 2.8.2. SUBDETERMINANTE INSTITUIÇÕES

instituicoes = ['por Sebrae', 'por Franquia', 'por SIMPLES_Nacional', 'por Senac']
sub_instituicoes = pd.DataFrame()
sub_instituicoes.index = database.index

for i in instituicoes:
    sub_instituicoes = save_googletrends(sub_instituicoes, i).set_index('Município')

sub_instituicoes = missing_data(sub_instituicoes)
cultura['Instituições'] = sub_instituicoes

# ---------------------------------------------------------------------------------------------
cultura = pd.concat(cultura, axis=1)

In [419]:
cultura

                                        Iniciativa  \
                Pesquisas pelo Termo Empreendedora
Município
São Paulo                                        0
Rio de Janeiro                                   0
Brasília                                         0
Salvador                                         0
Fortaleza                                        0
...                                            ...
Taboão da Serra                                  0
Várzea Grande                                    0
Sumaré                                           0
Marabá                                           0
Gravataí                                         0

                                                       \
                Pesquisas pelo Termo Empreendedorismo
Município
São Paulo                                           0
Rio de Janeiro                                      0
Brasília                                            0
Salvador                                            0
Fortaleza                                           0
...                                               ...
Taboão da Serra                                    24
Várzea Grande                                       0
Sumaré                                              0
Marabá                                              0
Gravataí                                            0

                                                 Instituições  \
                Pesquisas pelo Termo MEI Pesquisas por Sebrae
Município
São Paulo                           75.0                 48.0
Rio de Janeiro                      81.0                 35.0
Brasília                            72.0                 50.0
Salvador                            77.0                 57.0
Fortaleza                           64.0                 50.0
...                                  ...                  ...
Taboão da Serra                      0.0                 40.0
Várzea Grande                        0.0                  0.0
Sumaré                               0.0                  0.0
Marabá                               0.0                  0.0
Gravataí                             0.0                  0.0

                                                                       \
                Pesquisas por Franquia Pesquisas por SIMPLES Nacional
Município
São Paulo                         53.0                           77.0
Rio de Janeiro                    55.0                           51.0
Brasília                          57.0                          100.0
Salvador                          42.0                           62.0
Fortaleza                         35.0                           69.0
...                                ...                            ...
Taboão da Serra                   36.0                            0.0
Várzea Grande                      0.0                            0.0
Sumaré                             0.0                            0.0
Marabá                             0.0                            0.0
Gravataí                           0.0                            0.0


                Pesquisas por Senac
Município
São Paulo                      16.0
Rio de Janeiro                 44.0
Brasília                       43.0
Salvador                       33.0
Fortaleza                      32.0
...                             ...
Taboão da Serra                16.0
Várzea Grande                   0.0
Sumaré                          0.0
Marabá                          0.0
Gravataí                       18.0

[100 rows x 7 columns]

In [420]:
# 3.2. Tratamento para Observações Faltantes (missing data)

def missing_data(df):
    
    ind = pd.read_excel('Arquivos ICE - 23/Ind_Originais_ICE_2022.xlsx')
    ind.columns = ind.iloc[1]
    ind.columns.values[0] = 'Município'
    ind = ind.set_index('Município')
    ind = ind.tail(101)
    
    for c in df.columns:
        if c in ind.columns:
            if len(df.iloc[np.where(df[c] == 0)])/len(df):
                df[c].replace(0, np.nan, inplace=True)
                df[c].fillna(ind[c], inplace=True)
                df[c].fillna(0)
                
    return df

In [411]:
# 3.3. Tratamento para Valores Extremos

def extreme_values(df):

SyntaxError: unexpected EOF while parsing (<ipython-input-411-b65ac3b2ac9a>, line 5)

In [436]:
# 3.4. Padronização de Indicadores

def normalize(series):
    return (series - series.mean())/series.std()

def create_subindex(df, subdet):
    
    i_name = 'Índice de '+subdet
    
    if i_name not in df.columns:
        norm_data = df.apply(lambda x: normalize(x), axis=0)
        df[i_name] = norm_data.sum(axis=1)
    
    return df

In [437]:
sub_iniciativa

,Pesquisas pelo Termo Empreendedora,Pesquisas pelo Termo Empreendedorismo,Pesquisas pelo Termo MEI,Índice de Iniciativa
Município,,,,
São Paulo,0,0,75.0,0.510865
Rio de Janeiro,0,0,81.0,0.604816
Brasília,0,0,72.0,0.463890
Salvador,0,0,77.0,0.542182
Fortaleza,0,0,64.0,0.338622
...,...,...,...,...
Taboão da Serra,0,24,0.0,5.335460
Várzea Grande,0,0,0.0,-0.663522
Sumaré,0,0,0.0,-0.663522
Marabá,0,0,0.0,-0.663522
Gravataí,0,0,0.0,-0.663522

In [435]:
for i in (create_subindex(sub_iniciativa, 'Iniciativa')['Índice de Iniciativa']):
    print(i)

0.510865295126608
0.604816269651947
0.4638898078639386
0.5421822866350543
0.33862184183015326
0.604816269651947
0.2290123715505912
0.5891577738977238
0.3855973290928228
0.5578407823892776
0.35428033758437655
0.4795483036181618
-0.6635218864401288
0.4638898078639386
0.16637838853369855
0.7300842356857323
0.4012558248470459
0.6987672441772861
0.5265237908808312
0.4638898078639386
-0.6635218864401288
0.5891577738977238
0.4795483036181618
0.7144257399315093
3.783144966737899
0.495206799372385
0.5578407823892776
-0.6635218864401288
0.4638898078639386
0.44823131210971545
0.6674502526688397
0.9023276889821871
0.35428033758437655
0.3855973290928228
0.5578407823892776
0.5891577738977238
-0.6635218864401288
0.5265237908808312
0.604816269651947
-0.6635218864401288
-0.6635218864401288
-0.6635218864401288
0.8240352102110713
-0.6635218864401288
0.7300842356857323
0.5891577738977238
-0.6635218864401288
-0.6635218864401288
0.7770597229484019
-0.6635218864401288
0.29164635456748383
-0.6635218864401288
-0.6635218864401288
-0.6635218864401288
-0.6635218864401288
0.5265237908808312
0.5421822866350543
0.44823131210971545
4.446857622104152
-0.6635218864401288
-0.6635218864401288
-0.6635218864401288
-0.6635218864401288
-0.6635218864401288
-0.6635218864401288
-0.6635218864401288
-0.6635218864401288
-0.6635218864401288
-0.6635218864401288
-0.6635218864401288
-0.6635218864401288
-0.6635218864401288
-0.6635218864401288
-0.6635218864401288
-0.6635218864401288
-0.6635218864401288
-0.6635218864401288
-0.6635218864401288
-0.6635218864401288
-0.6635218864401288
-0.6635218864401288
-0.6635218864401288
-0.6635218864401288
-0.6635218864401288
0.08808590976258279
-0.6635218864401288
-0.6635218864401288
-0.6635218864401288
-0.6635218864401288
-0.6635218864401288
-0.6635218864401288
-0.6635218864401288
-0.6635218864401288
-0.6635218864401288
-0.6635218864401288
5.335460169150532
-0.6635218864401288
-0.6635218864401288
-0.6635218864401288
-0.6635218864401288

In [348]:
df = sub_iniciativa
i_name = 'Índice de Iniciativa'

index = pd.DataFrame(np.zeros_like(df.index)).rename(columns={0:i_name})
print(len(index))

for c in df:
    print(df[c])
    index[i_name] = index[i_name] + normalize(df[c])
    
index

100
Município
São Paulo          0
Rio de Janeiro     0
Brasília           0
Salvador           0
Fortaleza          0
                  ..
Taboão da Serra    0
Várzea Grande      0
Sumaré             0
Marabá             0
Gravataí           0
Name: Pesquisas pelo Termo Empreendedora, Length: 100, dtype: int32

ValueError: Columns must be same length as key